body {
  background-image: var(--background-image, '');
  background-color: #818181;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.5;
  overflow: hidden;
  align-items: center;
  text-align: center;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 100px;
  height: 100vh;
  width: 100vw;
}

article {
  grid-column: 1;
  grid-row: 2;
}

#location {
  grid-column: 1;
  grid-row: 2;
}
#icon {
  grid-column: 1;
  grid-row: 3;
  box-sizing: border-box;
}

#temp {
  grid-column: 1;
  grid-row: 1;
  font-size: 40px;

  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#location {
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.blur {
  grid-column: 2;
  grid-row: 1/3;
  position: relative;
  z-index: -1;
  backdrop-filter: blur(0.5em);
  background-color: hsla(0, 0%, 100%, 0.04);
  border-inline-start: 5px solid hsla(0, 0%, 100%, 0.14);
  margin-top: -20px;
}
aside {
  align-items: center;
  grid-column: 2;
  grid-row: 2;
  font-size: 15px;

  text-align: left;
  font-family: inherit;
  margin-left: 20px;
}

.card {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr repeat(2, 3rem);
  width: clamp(18rem, 70vw, 20rem);
}

button {
  align-items: center;
  border-block-end: 1px solid;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  background: transparent;
  border-bottom: 1px solid white;
  border-radius: 4px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
button:hover {
  background-color: gainsboro;
  border: none;
  color: #818181;
}
button:active {
  background-color: blue;
  border: none;
}
#input {
  align-items: center;
  border-block-end: 1px solid;
  cursor: auto;
  background-color: transparent;
  border: none;
  color: white;
  background: transparent;
  border-bottom: 1px solid white;
  border-radius: 4px;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}
#input:hover {
  background-color: gainsboro;
  border: none;
}
#input[text='text'] {
  border: none;
  background: transparent;
  background-color: transparent;
  color: white;
}

::placeholder {
  color: white;
  opacity: 60%;
}
